.twoColumn {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.rightContainer {
    flex: 0 0 100%;
    width: 100%;
}

.right {
    // display: flex;
    // justify-content: center;
    // width: 50%;
    // margin: 0 10px;
}