* {
    box-sizing: border-box;
    font-family: Microsoft YaHei
}

body {
    margin: 0px;
}

#root {
    height: 100%;
}

html {
    scrollbar-gutter: stable;
    height: 100%;
}

html::-webkit-scrollbar {
    width: 0px;
    height: 0;
}